<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Application_Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WinRO_Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Application_Configurator.Properties.Settings>
            <setting name="ProbeConfigDataDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="EditorControlChars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tracing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorZoomFactor" serializeAs="String">
                <value>100</value>
            </setting>
        </Application_Configurator.Properties.Settings>
        <WinRO_Configurator.Properties.Settings>
            <setting name="ProbeConfigDataDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="EditorControlChars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tracing" serializeAs="String">
                <value>True</value>
            </setting>
        </WinRO_Configurator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
